@use "../abstract/colors" as color;

a,
button,
div {
    font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

p,
ul,
li {
    font-family: var(--font-garamond);
}
//size and weight

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em; // 24px
    font-weight: bold;
    margin: 0.83em 0; // Typically 19.92px top and bottom
}

h3 {
    font-size: 1.17em; // 18.72px
    font-weight: bold;
    margin: 1em 0; // Typically 18.72px top and bottom
}

h4 {
    font-size: 1em; // 16px
    font-weight: bold;
    margin: 1.33em 0; // Typically 21.28px top and bottom
}

h5 {
    font-size: 0.83em; // 13.28px
    font-weight: bold;
    margin: 1.67em 0; // Typically 22.18px top and bottom
}

h6 {
    font-size: 0.67em; // 10.72px
    font-weight: bold;
    margin: 2.33em 0; // Typically 24.97px top and bottom
}

p {
    font-size: 1em; // 16px
    margin: 1em 0; // Typically 16px top and bottom
    line-height: normal; // Approximately 1.2
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-variant-numeric: lining-nums; /* Makes numbers same height as capitals */
}
